/** cart table **/
#cart {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  color: #444;
}
#cart thead th {
  padding: 8px 0;
  font-weight: bold;
}

#cart thead th.first {
  width: 175px;
}
#cart thead th.second {
  width: 45px;
}
#cart thead th.third {
  width: 230px;
}
#cart thead th.fourth {
  width: 130px;
}
#cart thead th.fifth {
  width: 20px;
}

#cart tbody td {
  text-align: center;
  margin-top: 4px;
}

tr.productitm {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #d7dbe0;
}

.remove {
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 5px;
}

/** submit btn **/
tr.checkoutrow {
  background: #cfdae8;
  border-top: 1px solid #abc0db;
  border-bottom: 1px solid #abc0db;
}
td.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}

/* Product List css*/

.eStore-productlist {
  height: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  float:left;
  width:100%;
}

.eStore-productlist-product-thumbnail {
    float:left;
}

.eStore-productlist-product-description {
  text-align: left;
  margin-left: 150px;
}

.eStore-product-name {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

/* Product Details css begins  */

#product-details input {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.0em;
}